{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        {% for product in products %}
            {% if product.difficulty == "Beginner" %}
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ url_for('static', filename='images/' ~ product.image) }}" class="card-img-top" alt="{{ product.title }}" style="width: 288px; height: 288px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text">Genre: {{ product.genre }}</p>
                            <p class="card-text">Difficulty: {{ product.difficulty }}</p>
                            <p class="card-text">£{{ product.price }}</p>
                            <a href="{{ url_for('details', ID=product.id) }}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
                {% if loop.index % 3 == 0 and not loop.last %}
                    </div><div class="row">
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}